@import "tailwindcss";

body {

    background-color: #492222;
}


.active {
    color: red;
}

#hero {
    background-image: url('/public/iamges-cars/coverCar.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}